In [4]:
import pandas as pd
import numpy as nm
import matplotlib.pyplot as plt
import seaborn as sns

df= pd.read_csv("/content/land_slides.csv")

In [5]:
import pandas as pd
import numpy as nm
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
import charset_normalizer
# Corrected function name from 'reas_csv' to 'read_csv'
df = pd.read_csv("/content/land_slides.csv")

In [7]:
df['date'].head()

0     3/2/07
1    3/22/07
2     4/6/07
3    4/14/07
4    4/15/07
Name: date, dtype: object